<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>	
	<%- stylesheets %>
	<%- scripts %>
</head>
<body>
	<div class="page">
		<header>
			<%- blocks.header %>
		</header>
		<nav>
			<%- partial('menu') %>
		</nav>
		<section>
			<%- body %>
		</section>
		<footer>
			<%- blocks.footer %>
		</footer>
	</div>
</body>
</html>