<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>	
	<%- stylesheets %>
	<%- scripts%>
</head>
<body>
	<header>
		<%- blocks.header %>
	</header>
	<section>
		<%- body %>
	</section>
	<footer>
		<%- blocks.footer %>
	</footer>
</body>
</html>